.title{
    text-align: center;
}

.blog-card{
    border-radius: 3px;
    box-shadow: 6px 3px 3px rgba(0,0,0,0.8);
    max-width: 30rem;
    min-width: 15rem;
    padding: .5rem;
    background-color:#333;
    color: azure;
}

.blog-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding:  1rem  0;
}

.social-icons a {
    color: #333;
    margin:  0  0.5rem;
    font-size:  1.5rem;
    transition: color  0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}