:root {
    --background-color: white;
    --text-color: black;
    --form-color: #c77dff;
    --box-shadow: 6px 3px 3px rgba(0,0,0,0.6)
    /* Add more variables as needed */
}

/* Dark theme */
[data-theme="dark"] {
    --background-color: #10002b;
    --text-color: #ddd;
    --form-color: #3c096c;
    --box-shadow: 6px 3px 3px rgba(255,255,255,0.6)
    /* Override other variables as needed */
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
}


.title{
    text-align: center;
}

.blog-card{
    border-radius: 3px;
    box-shadow: var(--box-shadow);
    max-width: 30rem;
    min-width: 15rem;
    padding: .5rem;
    background-color:var(--form-color);
    color: var(--text-color);
}

.blog-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;    
}

.social-icons {
    display: flex;
    justify-content: center;
    padding:  1rem  0;
}

.social-icons a {
    color: var(--text-color);
    margin:  0  0.5rem;
    font-size:  1.5rem;
    transition: color  0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

.btn-container{
    text-align: center;
    padding: 1rem;
}

.back-home{
    border-radius: 50px;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
}

.back-home:hover{
 cursor: pointer;
 border: none;
 box-shadow: var(--box-shadow);
 font-size: 1em;
 color: var(--text-color);
}

#theme-toggle{
    width: 100%;
    border-radius: 50px;
    border: none;
    color:var(--text-color);
    background-color: var(--background-color)
}

#theme-toggle:hover{
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.theme-btn-container{
    border-radius: 50px;
}